html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	overflow-x: auto;
}

body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.88em;
}

#top-table {
	display: table;
	height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;
}

#top-container {
	display: table-row;
	height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;
}

#logo_div{
	display: table-cell;
	//min-width: 320px;
	width: 22%;
	background-color: lightgrey;
	vertical-align: top;
}

#headerMiddle_div{
	display: table-cell;
	min-width: 350px;
	width: 58%;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
}

#searchTextField {
	width: 100%;
	height: 40px;
	font-size: 1em;
}

#login_div {
	display: table-cell;
	height: 50px;
	width: 20%;
	min-width: 250px;
	background-color: lightgrey;
	vertical-align: top;
}

#login {
	float: right;
}

#logo {
	height: 45px;
	float: left;
}

#search-tab {
	width: 95%;
	height: 100%;
}

#searchTable {
	width: 95%;
	height: 100%;
}

#required {
	width: 90%;
	height: 100%;
}

/* #bc-col1,#bc-col2,#bc-col3 {
	display: table-cell;
	height: 100%;
	min-height: 200px;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#bc-col1 {
	background-color: #ffffff;
	width: 20%;
	min-width: 320px;
}

#bc-col2 {
	background-color: #ffffff;
	width: 60%;
	min-width: 350px;
	overflow: hidden;
} */

/* #bc-col3 { height for firefox
	background-color: #ffffff;
	min-width: 250px;
	padding-left: 5px;
	height: 300px;
} */

#informationBox {
	width: 100%;
	height: 20px;
	float: right;
	padding-left: 5px;
	margin-left: 5px;
}
  
#scroller {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
<<<<<<< HEAD

#directionScroller {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

=======
 
>>>>>>> a9e9e21019d6127bcad747bbabdd74f2798611af
#tabs{
	height: 100%;
	width: 96%;
}

#loginImg{
	height: 40px;
	float: right;
	border-radius: 10px;
	border: 2px outset;
}

#loginImg:active {
	border: 2px inset;
}