.targetItemDiv {
	background-color: #88BBFF;
	border-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	-moz-border-radius-bottomright: 20px 20px;
	height: 100px;
	width: 85%;
	border-color: black;
	border-style: ridge;
	border-width: 2px 1px 1px 2px;
	border-color: grey;
	padding: 10px;
	margin-bottom: 10px;
    margin-right: 10px;
    float:right;
}

#login_div {
	/* 	background-color: #ADD8E6; */
	color: brown; 
	width=100%;
	overflow: auto;
	clear: both;
	float:right;
}


#login_div img {
	width: 70%;
	margin: 5px;
	margin-bottom: 15px;
	float: right;
	border-radius: 10px;
	border: 2px outset;
}

#login_div img:active {
	border: 2px inset;
}