/*
* Stylesheet only for smaller-than-1:1-aspect-ratio.
*/
.targetItemDiv {
	width: auto;
	display: table-cell;
	min-width: 120px;
	margin-right: 8px;
}

section {
	height: 75%;
}

#bc-col1 {
	height: auto;
	width: 30%;
}

#bc-col2 {
	height: auto;
}

#map-canvas {
}

#bc-col3 {
	height: auto;
	max-width: 100%;
	max-height: 25%;
	left: 2px;
	bottom: 20px;
	position: fixed;
}

#targetlist {
	margin-bottom: 1%;
}