.targetItemDiv {
	background-color: #88BBFF;
	border-bottom-right-radius: 20px 20px;
	-moz-border-radius-bottomright: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;
	border-color: black;
	border-style: ridge;
	border-width: 2px 1px 1px 2px;
	border-color: grey;
	padding: 10px;
	margin-right: 2%;
	margin-bottom: 10px;
	float: center;
	box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.7);
	opacity: 0.9;
	z-index: 10;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.targetItemDiv:hover {
	opacity: 1.0;
}

.recommendation_tags {
	color: grey;
}

header {
	width: 100%;
	background-color: lightgrey;
	color: white;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

header #noscriptBanner {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
	z-index: 10000;
	font-weight: bold;
}

#loginImg {
	display: table-cell;
}

#loginImg-med,#loginImg-s {
	display: none;
}

section {
	width: 100%;
	height: 100%;
}

#bc-col1 {
	width: 25%;
	float: left;
	vertical-align: top;
	position: fixed;
	left: 2px;
	z-index: 10;
}

#search-tab p {
	margin-bottom: 2%;
	margin-top: 2%;
}

#bc-col2 {
	width: 100%;
	height: 100%;
	float: left;
	vertical-align: top;
	z-index: -10;
}

#panel {
	padding-bottom: 4px;
}

#directionsPanel {
	font-size: 0.9em;
}

@media ( max-width : 1024px) {
	#directionsPanel {
		font-size: 0.8em;
	}
	.targetItemDiv {
		font-size: 0.8em;
	}
	.ui-accordion {
		font-size: 0.9em;
	}
}

@media ( max-width : 800px) {
	#loginImg-med {
		display: table-cell;
	}
	#loginImg,#loginImg-s {
		display: none;
	}
#directionsPanel {
		font-size: 0.7em;
	}
	.targetItemDiv {
		font-size: 0.7em;
	}
	.ui-accordion {
		font-size: 0.8em;
	}
}

@media ( max-width : 640px) {
	#loginImg-s {
		display: table-cell;
	}
	#loginImg,#loginImg-med {
		display: none;
	}
	#directionsPanel {
		font-size: 0.6em;
	}
	.targetItemDiv {
		font-size: 0.6em;
	}
	.ui-accordion {
		font-size: 0.7em;
	}
}

#map-canvas {
	width: 100%;
	height: 100%;
	float: left;
}

#bc-col3 {
	max-width: 25%;
	height: inherit;
	vertical-align: top;
	position: fixed;
	right: 2px;
}

footer {
	width: 100%;
	height: 20px;
	background-color: lightgrey;
	color: rgb(153, 204, 51);
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	bottom: 0;
	position: fixed;
}

#facebook-img {
	float: right;
}