html, body{
    width:100%;
    overflow-x:hidden;
}
#target_main {
    min-width: 1000px;
    min-height: 600px;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}
#map-canvas {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 1%;
    padding: 0;
    /*         height: 40%; */
    min-width: 34%;
    min-height: 300px;
    max-width: 34%;
    max-height: 300px;
    /*         border: 5px black solid; */
    float: right;
    padding: 0;
    padding: 0;
}

#target_info {
    margin-left: 2%;
    margin-top: 2%;
    /*         height: 40%; */
    min-width: 60%;
    min-height: 300px;
    max-width: 60%;
    max-height: 300px;
    float: left;
    padding: 0;
}

#tag_bar {
    display: block;
    min-height: 100px;
    /* 	margin-top:20px; */
    bottom: 0;
}

#tag_bar>div>span {
    background-color: beige;
    margin: 6px;
    margin-top: 5px;
    border-radius: 15px;
    white-space: nowrap;
    padding: 5px;
    display: inline-block;
}

#target_header {
    min-width: 100%;
    min-height: 350px;
    /* 	border: 5px black solid; */
    display: inline-block;
    background-color: #E0E0E0;
    border-radius: 15px;
}



.comment {
    min-width: 100%;
    min-height: 100px;
    /* 	border: 5px black solid; */
    display: block;
    border-radius: 15px;
    background-color: #ADD8E6;
    padding: 5px;
    margin-top: 10px;
}


/***/
#target_score_main {
	min-width: 100%;
	min-height: 100px;

	display: inline-block;
}
#score_container {
	margin-right: 2%;
	margin-top: 10px;
	height: 100%;
	float: right;
}
#default_score{
 font-size: x-large;
 font-weight: bold;
 
}
#new_user_score{
float:right;
color:#808080;
font-weight: bolder;
}
.score_symbol {
	color: #FFD700;
	font-size: 50px;
	cursor: pointer;
}
#score_footer{
	margin: 0 auto;
	width: 60%;
	color: #808080;
	font-weight: bolder;	
}
#score_note{
color:black;
width:300px;
float:right;
margin-right:7%;
margin-top:10px;
border-radius:15px;
background-color: #F6CEE3;
display:none;
padding:10px;
clear:both;
font-weight:bolder;
text-align: center;
}
#score_note img{
 width:32px;
 height:32px;
}
/***/

#target_add_comment_main {
    min-width: 100%;
    min-height: 100px;
    margin-top: 40px;
    /* 	border: 5px black solid; */
    display: block;
}



#target_add_comment_main>div {
    margin-top: 10px;
}


.comment img {
    width: 50px;
    height: 50px;
}

.comment_name {
    font-size: x-large;
    display:inline-block;
}

.comment_text {
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.comment_date{
    display:inline-block;
    float:right;
    font-size: medium;
}
.comment_header{
    margin:15px;
}


#add_comment_errors,#add_comment_success,#default_login_main {
    padding: 10px;
    padding-top: 15px;
    padding-left: 10%;
    border-radius: 15px;
    padding-left: 10%;
    display:none; 
}

#comment_errors_header,#comment_success_header {
    white-space: nowrap;
    display: block;
}

#comment_errors_header>h3,#comment_success_header>h3 {
    display: inline;
}

#comment_errors_header>img,#comment_success_header>img {
    width: 32px;
    height: 32px;
}

#add_comment_success {
    background-color: #BCF5A9;
}

#add_comment_errors {
    background-color: #F6CEE3;
}

#default_login_main {
	color: brown;
	overflow: auto;
	clear: both;
	border: 2px silver solid;
	min-width:89%;
	min-height: 100px;
}


#default_login_main img {
    width: 200px;
    margin-top: 50px;
    float: right;
    border-radius: 10px;
    border: 2px outset;
}

#default_login_main img:active {
    border: 2px inset;
}

#comment_form_div{
display:inline-block;
min-width: 100%;
margin-left: 10px;
}
#comment_form_div textarea {
    min-width: 98%;
    min-height: 120px;
    margin: 0 auto;
}
#form_submit {
margin-top:10px;
margin-right:10px;
	float: right;	
	width:60px;
	height:30px;
	border-radius:15px;
}
/*****************/
#tag_container {
	margin-top: 30px;
}

#tag_header {
	dsiplay: block;
	white-space: nowrap;
}

#tag_header strong {
	font-size: x-large;
}

#new_tag_div {
	margin-left: 20%;
}

#tag_field {
	border-radius: 15px;
}